@font-face {
  font-family: park;
  src: url("C:\Users\samsung\Desktop");
}
.font1 {
  font-size: xx-large;
}
#img {
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 2%;

  height: 6cm;
  background-color: coral;
  float: left;
}

#text {
  padding-top: 1%;
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 0.5%;
  margin-left: 0.5%;
  height: 2cm;
  float: left;
  background-color: rgb(255, 255, 255);
}
#video {
  width: 100%;
  height: 100%;
}
#profile {
  width: 20%;
  height: 100%;
}
